@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@700&display=swap');


html { box-sizing: border-box; }
body {
	font-family: 'Open Sans', sans-serif;
    /*font-family: 'Playfair Display', serif;*/
    background-color: lavenderblush;
    text-align: center;
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.wrapper {
    background-color: white;
    padding: 40px 30px;
    margin: 30px 100px ;

}

